/*ABOUT PAGE*/
.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*right side*/
.profile-img{
    display: flex;
    justify-content: center;
    height: 700px;
}
.profile-img img{
    height: 600px; 
}

/*left side*/
.profile-content{
    padding: 30px;
    text-align: justify;
}

.profile-content h1{
    color: rgb(67, 188, 228);
}

.social-img{
    display: flex;
    justify-content: baseline;
}

.social-img > div {
    margin-left: 10px;
}

.social-img img{
    height: 40px;
}

/*CAIXA DE SUGESTÕES*/
.sugestion{
    padding-left: 0px;
    margin-top: 6px;
}

.text_area{
    height: 100px;
    width: 600px;
    border-radius: 3px;
    padding: 10px;
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
}

